<app-navbar></app-navbar>
<div class="contact-info">
    <div class="card">
        <div class="profile-section">
            <img src="https://raw.githubusercontent.com/dinelaganovic/ng-deploy/master/src/assets/prof.jpg" alt="Profilna slika" class="profile-picture">
            <h2>Dinela Ganovic</h2>
          </div>
          
          <div class="contact-details">
            <p></p>
            <p><strong><i class="fas fa-envelope"></i>
                Email:</strong>  <a [attr.href]="'mailto:' + emailAdress" target="_blank">dinelaganovic99&#64;gmail.com</a></p>
          </div>
    </div>
    
</div>  
<app-footer></app-footer>