<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="container">
                <div class="box">
                    <div class="thumb1-container">
                        <img src="../../../assets/prof.jpg" alt="Profile picture" class="thumb-image">
                    </div>
                </div>
                <div class="box">
                    <div class="thumb2-container">
                        <h1>Dinela Ganovic</h1>
                        <h2>Graduated software engineer at the State University in Novi Pazar</h2>
                        <p> Until now, I have worked on university projects, which represent web
                            applications, desktop applications, mobile applications.</p>
                        <p>I would like to single out some of my features: diligent work and the ability to quickly learn and master tasks.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
              <p style="font-size: 35px; color: green;">MY SKILLS</p>
            </div>
            <div>
                <div>
                    <p style="font-size: 25px; color: rgb(3, 49, 3); margin-top: 30px;">Programming Languages</p>
                </div>
                <div class="card-container">
                    <ng-container *ngIf="isMobile; else desktopView">
                        <div class="navigation-buttons">
                            <button (click)="previous()" [disabled]="currentIndex === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran manji -->
                        <app-card 
                          *ngFor="let card of cards.slice(currentIndex, currentIndex +1)"
                          [title]="card.title"
                          [imageSrc]="card.imageSrc"
                          [description]="card.description">
                        </app-card>
                        <div class="navigation-buttons">
                            <button (click)="next()" [disabled]="currentIndex + 1 >= cards.length"><p style="color: white;">&gt;</p></button>
                        </div>
                      </ng-container>
                      
                      <ng-template #desktopView>
                        <div class="navigation-buttons">
                            <button (click)="previous()" [disabled]="currentIndex === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran širi -->
                        <ng-container *ngFor="let card of cards.slice(currentIndex, currentIndex + cardsPerPage)">
                          <app-card 
                            [title]="card.title"
                            [imageSrc]="card.imageSrc"
                            [description]="card.description">
                          </app-card>
                        </ng-container>
                        <div class="navigation-buttons">
                            <button (click)="next()" [disabled]="currentIndex + cardsPerPage >= cards.length"><p style="color: white;">&gt;</p></button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div>
                <div>
                    <p style="font-size: 25px; color: rgb(3, 49, 3); margin-top: 30px;">Frontend Languages</p>
                </div>
                <div class="card-container">
                    <ng-container *ngIf="isMobile; else desktopView1">
                        <div class="navigation-buttons">
                            <button (click)="previous1()" [disabled]="currentIndex1 === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran manji -->
                        <app-card 
                          *ngFor="let card1 of cards1.slice(currentIndex1, currentIndex1 +1)"
                          [title]="card1.title"
                          [imageSrc]="card1.imageSrc"
                          [description]="card1.description">
                        </app-card>
                        <div class="navigation-buttons">
                            <button (click)="next1()" [disabled]="currentIndex1 + 1 >= cards1.length"><p style="color: white;">&gt;</p></button>
                        </div>
                      </ng-container>
                      
                      <ng-template #desktopView1>
                        <div class="navigation-buttons">
                            <button (click)="previous1()" [disabled]="currentIndex1 === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran širi -->
                        <ng-container *ngFor="let card1 of cards1.slice(currentIndex1, currentIndex1 + cardsPerPage)">
                          <app-card 
                            [title]="card1.title"
                            [imageSrc]="card1.imageSrc"
                            [description]="card1.description">
                          </app-card>
                        </ng-container>
                        <div class="navigation-buttons">
                            <button (click)="next1()" [disabled]="currentIndex1 + cardsPerPage >= cards1.length"><p style="color: white;">&gt;</p></button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div>
                <div>
                    <p style="font-size: 25px; color: rgb(3, 49, 3); margin-top: 30px;">Backend Languages</p>
                </div>
                <div class="card-container">
                    <ng-container *ngIf="isMobile; else desktopView2">
                        <div class="navigation-buttons">
                            <button (click)="previous2()" [disabled]="currentIndex2 === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran manji -->
                        <app-card 
                          *ngFor="let card2 of cards2.slice(currentIndex2, currentIndex2 +1)"
                          [title]="card2.title"
                          [imageSrc]="card2.imageSrc"
                          [description]="card2.description">
                        </app-card>
                        <div class="navigation-buttons">
                            <button (click)="next2()" [disabled]="currentIndex2 + 1 >= cards2.length"><p style="color: white;">&gt;</p></button>
                        </div>
                      </ng-container>
                      
                      <ng-template #desktopView2>
                        <div class="navigation-buttons">
                            <button (click)="previous2()" [disabled]="currentIndex2 === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran širi -->
                        <ng-container *ngFor="let card2 of cards2.slice(currentIndex2, currentIndex2 + cardsPerPage)">
                          <app-card 
                            [title]="card2.title"
                            [imageSrc]="card2.imageSrc"
                            [description]="card2.description">
                          </app-card>
                        </ng-container>
                        <div class="navigation-buttons">
                            <button (click)="next2()" [disabled]="currentIndex2 + cardsPerPage >= cards2.length"><p style="color: white;">&gt;</p></button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div>
                <div>
                    <p style="font-size: 25px; color: rgb(3, 49, 3); margin-top: 30px;">Mobile App Development</p>
                </div>
                <div class="card-container">
                    <ng-container *ngIf="isMobile; else desktopView3">
                        <div class="navigation-buttons">
                            <button (click)="previous3()" [disabled]="currentIndex3 === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran manji -->
                        <app-card 
                          *ngFor="let card3 of cards3.slice(currentIndex3, currentIndex3 +1)"
                          [title]="card3.title"
                          [imageSrc]="card3.imageSrc"
                          [description]="card3.description">
                        </app-card>
                        <div class="navigation-buttons">
                            <button (click)="next3()" [disabled]="currentIndex3 + 1 >= cards3.length"><p style="color: white;">&gt;</p></button>
                        </div>
                      </ng-container>
                      
                      <ng-template #desktopView3>
                        <!-- Prikazuje se kada je ekran širi -->
                        <ng-container *ngFor="let card3 of cards3.slice(currentIndex3, currentIndex3 + cardsPerPage)">
                          <app-card 
                            [title]="card3.title"
                            [imageSrc]="card3.imageSrc"
                            [description]="card3.description">
                          </app-card>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
            <div>
                <div>
                    <p style="font-size: 25px; color: rgb(3, 49, 3); margin-top: 30px;">Database</p>
                </div>
                <div class="card-container">
                    <ng-container *ngIf="isMobile; else desktopView4">
                        <div class="navigation-buttons">
                            <button (click)="previous4()" [disabled]="currentIndex4 === 0"><p style="color: white;">&lt;</p></button>
                        </div>
                        <!-- Prikazuje se kada je ekran manji -->
                        <app-card 
                          *ngFor="let card4 of cards4.slice(currentIndex4, currentIndex4 +1)"
                          [title]="card4.title"
                          [imageSrc]="card4.imageSrc"
                          [description]="card4.description">
                        </app-card>
                        <div class="navigation-buttons">
                            <button (click)="next4()" [disabled]="currentIndex4 + 1 >= cards4.length"><p style="color: white;">&gt;</p></button>
                        </div>
                      </ng-container>
                      
                      <ng-template #desktopView4>
                        <!-- Prikazuje se kada je ekran širi -->
                        <ng-container *ngFor="let card4 of cards4.slice(currentIndex4, currentIndex4 + cardsPerPage)">
                          <app-card 
                            [title]="card4.title"
                            [imageSrc]="card4.imageSrc"
                            [description]="card4.description">
                          </app-card>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
