<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="container">
                <div class="box">
                    <div class="thumb1-container">
                        <img src="https://raw.githubusercontent.com/dinelaganovic/ng-deploy/master/src/assets/prof.jpg" alt="Profile picture" class="thumb-image">
                    </div>
                </div>
                <div class="box">
                    <div class="thumb2-container">
                        <h1>Hi, </h1>
                        <h1>I am Dinela Ganovic</h1>
                        <h2>Graduated software engineer at the State University in Novi Pazar</h2>
                        <p> Until now, I have worked on university projects, which represent web
                            applications, desktop applications, mobile applications.
                            Some of my features: diligent work and the ability to quickly learn and master tasks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
