.footer{
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.footer-links{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.footer-links a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
    font-size: 14px;
}
.footer-links a:hover{
    color: black;
    cursor: pointer;
}